#package#

import etu2024.framework.annotation.RestAPI;

#imports#

$public $class #class#RestController ${
    #attributes#

    @RestAPI
    @Url("/#className#s")
    $public $void create() ${
    $}

    $/* Getters and setters $*/
#getters_and_setters#
$}
